# [user]
#     name = First Last
#     email = flast@email.com

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    st = status
    s = status -sb
    ad = add -NA :/
    ci = commit
    cam = commit -am
    br = branch
    co = checkout
    sh = show -U2
    df = diff -U2
    dt = difftool
    lg = log -p
    lgr = log --pretty=format:'%C(cyan bold)%h%C(blue bold)%d %Creset%s (%C(green bold)%an%Creset, %C(yellow bold)%ad%Creset)' --graph --date=iso
    lgn = log --pretty=format:'%C(cyan bold)%h%C(blue bold)%d %Creset%s (%C(green bold)%an%Creset, %C(yellow bold)%ad%Creset)' --graph --date=iso --no-merges
    lgg = log --pretty=format:'%C(cyan bold)%h %C(blue bold)%s' --graph --date=iso --no-merges
    lgh = "!lgh() { git lgg | head -${1:-12}; }; lgh"
    shl = "!shl() { git lgh | head -n1 | awk '{print $2}' | xargs git show -U2; }; shl"
    fo = fetch origin
    po = push origin HEAD:refs/for/master
    am = commit --amend
    aam = commit -a --amend
    rbm = rebase origin/master
    pd = push origin HEAD:refs/for/develop
    rbi = "!git rebase -i --rebase-merges HEAD~$1 #"
    rbd = rebase origin/develop
    rbc = rebase --continue
    rba = rebase --abort
    sp = stash pop
    smu = submodule update --init
    smur = submodule update --init --recursive
    smeach = submodule foreach

    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish

[core]
    editor = nvim

# [pager]
#     diff = delta
#     log = delta
#     reflog = delta
#     show = delta
#
# [interactive]
#     diffFilter = delta --color-only
#
# [delta]
#     features = side-by-side line-numbers decorations
#     whitespace-error-style = 22 reverse
#
# [delta "decorations"]
#     commit-decoration-style = bold yellow box ul
#     file-style = bold yellow ul
#     file-decoration-style = none

[diff]
    context = 2

[credential]
    helper = cache --timeout=604800

#[tig]
#    show-date = yes         # Show commit date?
#    author-width = 10       # Set width of the author column
#    line-graphics = utf-8   # Enable graphics characters
#    tab-size = 4            # Number of spaces per tab
#    vertical-split = yes

[push]
    default = simple

